/* FONTS */
@font-face
{
	font-family: "Nunito";
	src: url("../fonts/Nunito-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Nunito";
	src: url("../fonts/Nunito-Black.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: "Nunito";
	src: url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face
{
	font-family: "Nunito";
	src: url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

* {
	transition: 0.4s;
}

body {
	font-family: "Nunito", serif;
	margin: 0; 
	background-color: lightgray;
}

h1 {
	text-align: center;
	font-size: 72px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 22px;
}

a {
	text-decoration: none;
}

header {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	background-color: gray;
	width: 40%;
	min-width: 800px;
	text-align: center;
	border-radius: 0 0 40px 40px;
	display: flex;
	justify-content: space-between;
	height: 80px;
	top: 0;
}

header > nav {
	display: flex;
	width: 90%;
	line-height: 80px;
	justify-content: space-between;
	align-items: center;
}

.logo:hover {
	filter: invert(1);
}

.YD_button {
	letter-spacing: 4px;
	color: black;
	font-size: 32px;
	width:50%;
	border-radius: 0 0 40px 40px;
}
.YD_button:hover {
	letter-spacing: 12px;
	padding-left: 6px;
	background-color: dimgray;
}

hr {
	border-style: solid;
	width: 95%;
	margin: auto;
}

/* FOOTER */
footer {
	width: 100%;
	padding: 2% 0;
	color: lightgray;
	text-align: center;
	font-size: 1.3vw;
	background-color: rgb(50,50,50);
	border-radius: 60px 60px 0 0;
}

footer > nav {
	margin: 1% 0;
}

footer > nav img {
	width: 3%;
	margin: 0 2%;
}

footer > nav img:hover {
	transform: scale(1.2);
}